@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-1: #b8b9be;
    --color-2: #f1f1f1;
    --color-3: #22222255;
    --color-4: #00000033;
    --color-5: #ff5596;
    --color-6: #ff9900;
}
body {
    height: 100vh;
    background-color: #E6E7EE;
    display: grid;
    place-content: center;
    font-family: 'Raleway', sans-serif;
}
/* card Section start */
.card {
    position: relative;
    width: 300px;
    height: 410px;
}
/* content Section Start */
.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #E6E7EE;
    box-shadow: 2px 2px 5px #b8b9be, -2px -2px 5px #FFF;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    border-radius: 0px 0px 30px 0px;
    z-index: 2;
}
/* Image Section Start */
.img-box, .info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 0.4s;
}
.img-box {
    top: 7%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    border: 0px 2px 3px #999;
}
.img-box img {
    height: 100%;
}
/* Info Section Start */
.info {
    text-align: center;
    width: 286px;
    top: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #555;
}
.info h2 {
    color: #000047;
}
.info h4 {
    color: #2eb1ed;
    margin-bottom: 5px;
}
.description {
    padding: 7px;
    margin-bottom: 5px;
}
.skils {
    width: 230px;
    display: flex;
    justify-content: space-between;
}
i, button {
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    display: grid !important;
    place-content: center;
    border-radius: 50%;
}
.skils i {
    border: 1px solid #b8b9be;
    background: #EEE;
}
button {
    position: absolute;
    left: 100%;
    top: 97.5%;
    transform: translate(-110%, -110%);
    z-index: 9;
    background-color: #EEE;
    border: 1px solid #b8b9be;
}
.icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.5s;
    z-index: 1;
}
.icons::before, .icons::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    border: 2px solid #2eb1ed;
}
.icons::after {
    width: 80%;
    height: 80%;
    border-color: #4dd0e1;
}
.icons i {
    position: absolute;
    width: 16.68%;
    height: 16.68%;
}
.icons i:nth-child(1) {
    left: 91.66667%;
    top: 41.666664%;
}
.icons i:nth-child(2) {
    left: 77%;
    top: 77%;
}
.icons i:nth-child(3) {
    left: 41.666664%;
    top: 91.66667%;
}
.icons i:nth-child(4) {
    left: 6.333333%;
    top: 77%;
}
.icons i:nth-child(5) {
    left: -8.333334%;
    top: 41.666664%;
}
.icons i:nth-child(6) {
    left: 6.333333%;
    top: 6.333333%;
}
.icons i:nth-child(7) {
    left: 41.666664%;
    top: -8.333334%;
}
.icons i:nth-child(8) {
    left: 77%;
    top: 6.333333%;
}
.icons i, button{
    cursor: pointer;
    border: 2px solid #f1f1f1;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 5px #FFF;
    color: #999;
    text-shadow: 1px 1px 1px #222, -1px -1px 1px #FFF;  
    transition: 0.3s;
}
.icons i:hover {
    text-shadow: none;
    box-shadow: inset -2px -2px 5px #b8b9be,
                        inset 3px 3px 5px #FFF,
                        inset 1px 1px #2225,
                        1px 2px 1px #0003;
}
button:focus ~ .content {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
button:focus ~ .content .img-box {
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
}
button:focus ~ .content .info {
    top: 120%;
}
button:focus ~ .icons {
    width: 300px;
    height: 300px;
}
button:focus {
    opacity: 0;
}
button:not(:focus) ~ .content .info,
button:not(:focus) ~ .content .img-box {
    transition-delay: 0.6s;
}
button:not(:focus) ~ .icons {
    transition-delay: 0.2s;
}
button:not(:focus) {
    transition-delay: 1s;
}